@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top black-bg d-none d-sm-block">
                <div class="container">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left">
                                <ul>
                                    <li class="title"><span class="flaticon-energy"></span> trending-title</li>
                                    <li>Class property employ ancho red multi level mansion</li>
                                </ul>
                            </div>
                            <div class="header-info-right">
                                <ul class="header-date">
                                    @if (HttpContextAccessor.HttpContext.Session.GetString("admin") != null)
                                    {
                                        <li>
                                            <a asp-controller="Admin" asp-action="SignOut">Sign Out</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-controller="Admin" asp-action="SignIn">Sign In</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-mid gray-bg">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-3 col-lg-3 col-md-3 d-none d-md-block">
                            <div class="logo">
                                <a href="/"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9">
                            <div class="header-banner f-right ">
                                <img src="assets/img/gallery/header_card.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-8 col-lg-8 col-md-12 header-flex">
                            <!-- sticky -->
                            <div class="sticky-logo">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-md-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                        <li><a href="about.html">about</a></li>
                                        <li><a href="categori.html">Category</a></li>
                                        <li><a href="latest_news.html">Latest News</a></li>
                                        @if (HttpContextAccessor.HttpContext.Session.GetString("customer") == null)
                                        {
                                            <li>
                                                <a href="#">Log In</a>
                                                <ul class="submenu">
                                                    <li>
                                                        <div id="buttonDiv"></div>
                                                    </li>
                                                </ul>
                                            </li>
                                        }

                                        @if (HttpContextAccessor.HttpContext.Session.GetString("customer") != null)
                                        {
                                            <li><a asp-controller="Customer" asp-action="Logout" onclick="logout(this)">Log Out</a></li>
                                        }
                                        @**@
                                        @*<li><a href="contact.html">Contact</a></li>*@
                                        @*<li><a asp-controller="News" asp-action="NewsManagement">Manager</a></li>*@
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="header-right f-right d-none d-lg-block">
                                <!-- Heder social -->
                                <ul class="header-social">
                                    <li><a href="https://www.fb.com/sai4ull"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li> <a href="#"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                                <!-- Search Nav -->
                                <div class="nav-search search-switch">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-md-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>


@*START google sign-in*@
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script>
    function handleCredentialResponse(response) {
        var user = parseJwt(response.credential);
        $.ajax({
            type: 'POST',
            url: '/Customer/Login',
            data: { email: user.email, firstName: user.given_name, lastName: user.family_name, username: user.name, avatar: user.picture },
            dataType: "text",
            success: function (data) {
                console.log(data);
                location.reload();
            }
        });
    }

    window.onload = function () {
        google.accounts.id.initialize({
            client_id: "402411054593-bih1d0ce9chi1453ae6ugvpcavu2f228.apps.googleusercontent.com",
            callback: handleCredentialResponse
        });
        google.accounts.id.renderButton(
            document.getElementById("buttonDiv"),
            { theme: "filled_blue", size: "large", shape: "pill", width: 100 }  // customization attributes
        );

        var url = window.location.href;
        if (url == "https://localhost:7164/" || url.includes("Home") || url.includes("Home/Index")) {
            google.accounts.id.prompt(); // also display the One Tap dialog
        }
    }

    function parseJwt(token) {
        var base64Url = token.split('.')[1];
        var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        var jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        return JSON.parse(jsonPayload);
    };


</script>
@*END google sign-in*@

<script>
    function logout(obj) {
        console.log(window.location.href);
        var url = window.location.href;
        obj.href += '?url=' + url;
    }
</script>
